html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

ul {
    list-style: none;
}

/*-------------- Header ---------------*/

.header {
    position: fixed;
    z-index: 30;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #232727;
    color: #F2F2F2;
    border-bottom: 10px solid #AD252B;
    font-size: 1em;
}

.header__button-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    color: #F2F2F2;
    background-color: #232727;
    margin: 5px;
    font-size: 2em;
}

.header__button-list {
    width: 100%;
    padding-left: 0;
    display: none;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
}

.header__button-list li {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.header__button-list li:hover {
    background-color: #434747;
}

.header .header__social {
    display: none;
}

footer .button-list__social {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-list__social > .social__icon {
    margin-right: 15px;
}

.button-list__social > .social__icon img {
    height: 30px;
}

@media (min-width: 600px) {

    .header {
        flex-direction: row;
        align-items: center;
    }

    .header__button-mobile {
        display: none;
    }

    .header .header__social {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        margin-right: 30px;
    }
    
    .header__social > .social__icon {
        margin: 10px;
        box-sizing: border-box;
    }
    
    .social__icon img {
        height: 30px;
    }

    .header__button-list {
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        height: 50px;
        margin: 0;
    }
    
    .header__button-list li {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;
        padding-bottom: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .header__button-list li:hover {
        background-color: #434747;
    }

    footer .button-list__social {
        display: none;
    }
}

/*--------- Sections ------------*/

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 15px 15px 15px;
}

.section > h1 {
    color: #F2F2F2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
}

.section > p {
    align-self: start;
}

.section--primary {
    background-color: #289D92;
    padding-bottom: 20px;
}

.section--secondary {
    background-color: #F2F2F2;
    padding-top: 0;
}

.section--secondary > h1 {
    color: #1D7C75;
    background-color: #F2F2F2;
}

@media screen and (min-width: 600px) {
    .section {
        padding: 50px 200px 50px 200px;
    }

    .section > h1 {
        font-size: 3em;
    }

    .section--primary {
        background-color: #289D92;
        padding-bottom: 100px;
    }
}

/* ------- Main section ----------*/

.section-main {
    position: relative;
    padding: 0;
    margin-top: 60px;
} 

.section-main .logo {
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-main .logo img {
    width: 60%;
}

.section-main .slide-container {
    width: 100%;
    height: 300px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.slide-container .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position-y: 50%;
}

.slide-buttons {
    position: absolute;
    z-index: 20;
    bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide-buttons .slide-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #F2F2F2;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.slide-buttons .slide-button--selected {
    background-color: #F2F2F2;
    cursor: initial;
}

@media screen and (min-width: 600px) {
    .section-main .logo img {
        width: 40%;
    }

    .section-main .slide-container {
        height: 600px;
    }
}

/*--------- Separation -----------*/
.separator {
    position: relative;
    width: 100%;
    height: 20px;
}

.arrow-down-transparent {
    position: absolute;
    top: -20px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 50vw solid #232727;
    border-right: 50vw solid #232727;
    border-bottom: 0;
}

.arrow-down {
    position: absolute;
    top: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 20px solid #232727;
}

.arrow-down--green {
    background-color: #289D92;
}

.arrow-up-transparent {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 20px solid transparent;
    border-left: 50vw solid #232727;
    border-right: 50vw solid #232727;
    border-top: 0;
}

.arrow-up {
    position: absolute;
    top: -20px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 20px solid #232727;
}

.arrow-up-transparent--white {
    background-color: #F2F2F2;
}

@media screen and (min-width: 600px) {
    .separator {
        height: 40px;
    }

    .arrow-down-transparent {
        top: -40px;
        border-top: 40px solid transparent;
        border-bottom: 0;
    }

    .arrow-down {
        border-top: 40px solid #232727;
    }

    .arrow-up-transparent {
        border-bottom: 40px solid transparent;
    }

    .arrow-up {
        top: -40px;
        border-bottom: 40px solid #232727;
    }
}

/*---------- Games -----------*/

.games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.games .game-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px 40px 10px;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
}

.games .game-name {
    margin-top: 10px;
    text-transform: uppercase;
    color: #F2F2F2;
}

.game-name--strong {
    font-weight: 600;
}

.game-icon img {
    width: 80%;
}

.game-description__title {
    margin-top: 10px;
    text-transform: uppercase;
    color: #F2F2F2;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
}

.game-description__text {
    margin-top: 9px;
    color: #F2F2F2;
    margin-top: 25px;
    margin-bottom: 25px;
}

.game-description__multimedia {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.games .game-description {
    width: 90%;
}

.multimedia__element {
    max-width: 560px;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .games {
        flex-direction: row;
    }

    .games .game-icon {
        margin: 10px 10px 150px 10px;
        font-size: 1.2em;
        max-width: initial;
        width: 33%;
    }

    .games .game-icon {
        margin: 10px;
    }

    .games .game-description {
        width: 67%;
    }
}

/*---------- Team -------------*/

.teams {
    margin-top: 10px;
    margin-bottom: 10px;
}

.team {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    font-size: 0.8em;
}

.team .team__member {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.team__member img {
    width: 80%;
}

.team__member .member__name, .team__member .member__position {
    text-align: center;
}

.team__member .member__name {
    margin-top: 5px;
    font-weight: bolder;
}

.team__member .member__position {
    font-weight: 400;
    font-size: 0.9em;
}

@media (min-width: 600px) {
    .team {
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: nowrap;
        font-size: 1em;
        transform: translateX(-20px);
    }

    .team .team__member {
        flex: 1 0 20%;
        margin-bottom: 0;
    }

    .team__member .member__position {
        font-size: 1em;
    }
}

/*---------------- Contact section -----------*/

#section-contact {
    padding-bottom: 50px;
}

.contact {
    width: 100%;

    font-size: 1em;
    color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact__form {
    width: 100%;
}

.contact__form #form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact__form #form > * {
    margin: 10px 0;
}

#form .form__input-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form__input-row input[type=text] {
    width: 80%;
    padding: 12px 20px;
    box-sizing: border-box;
    flex-basis: 49%;
}

#form textarea {
    padding: 12px 20px;
    width: 100%;
    height: 100px;
    resize: none;
}

#form .form__send, input[type=text], textarea {
    border-radius: 10px;
    border: 1px solid #FFF;
}

#form .form__send {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.5em;
    width: 70px;
    height: 30px;
}

.contact__form .contact-form__text {
    text-transform: uppercase;
    font-size: 0.8em;
}


@media (min-width: 600px) {
    .contact {
        font-size: 2em;
        justify-content: flex-end;
        height: 582px;
        
        background-image: url("images/kitsuba-fox.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: auto 100%;
        text-align: left;
    }

    .contact__form {
        width: 55%;
    }
}

/*---------------- Footer -------------------*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #232727;
    color: #FFF;
}

.footer__main-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__main-row .footer__img {
    margin: 20px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
}

.footer__img img {
    width: 60%;
}

.footer__main-row .footer__copyright {
    display: none;
}

.footer__copyright span {
    white-space: nowrap;
}

.footer__main-row .footer__social {
    display: flex;
    flex: 1 1 0;
    width: 0;
    margin-right: 20px;
    transform: translateX(-15%);
}

.footer__social .social__icon {
    flex: 1 1 0;
    width: 0;
    padding: 0 3px;
}

.footer__social .social__icon img {
    width: 100%;
}

.footer__second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer__second-row .copyright {
    font-size: 0.8em;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .footer__main-row .footer__img {
        justify-content: flex-start;
    }

    .footer__main-row .footer__img img {
        width: 35%;
    }

    .footer__main-row .footer__social {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
        transform: initial;
    }

    .footer__main-row > div {
        flex-basis: 0;
        flex-grow: 1;
    }

    .footer__social > .social__icon {
        margin: 0 10px;
        width: initial;
        flex: initial;
        padding: 0;
    }

    .footer__social .social__icon img {
        width: auto;
    }

    .footer__main-row .footer__copyright {
        font-size: 0.8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 0;
        flex-grow: 2;
        text-align: center;
    }

    .footer__second-row {
        display: none;
    }
}

.notification {
    position: fixed;
    right: 0;
    bottom: -100px;
    background-color: #212121;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 230px;
    margin: 10px;
    padding: 10px;
    transition: bottom 1s;
    border: 1px solid white;
}

.notification--show {
    bottom: 0;
}
